<<<<<<< HEAD
nav{
	box-shadow: -2px 5px 10px ;
	border-radius: 10px;
}
#logo_menu{
	margin-left: 100px;
	margin-right: -100px;
	text-align: center;
	
	
}
#Barra a{
	color: black;
}
#menu{
	
}
=======
*
{
  margin: 0;
  padding: 0;
}
>>>>>>> fc0bbbcd9d50914286cef74687b51aa1d2901141
