doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Get it!
    meta(name="description" content="Página de venta de artículos online, se encuentra tecnología de última generación como celulares, audífonos y demás. A su vez se encuentran las especificaciones técnicas de los productos así como vídeos promocionales. Se hace envíos a todo Colombia y próximamente internacionalmente.")
    meta(name="author" content="César Augusto Montoya Ocampo y Miguel Ángel Restrepo Rueda")
    meta(name="keywords" content="Get it, ventas, ventas online, compras, celulares, audífonos, tecnología, apple, samsung")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="icon" type="image/png" href="/images/icon.png")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="/css/nav.css")
    link(rel="stylesheet" type="text/css" href="/css/" + name + ".css")
    script(src="/js/" + name + ".js")
